<div class="content-container" fxLayout="row" fxLayoutAlign="center">

  <div class="column" fxLayout="column" fxFlex="50">

    <div class="title">EDYCJA:</div>

    <form #comixForm="ngForm" fxLayout="column">

      <!-- Series Title -->
      <mat-form-field class="form-element">
        <mat-label>Series Title:</mat-label>
        <input matInput type="text" id="seriesTitle" name="seriesTitle" [(ngModel)]="element.seriesTitle">
      </mat-form-field>

      <!-- Series Subtitle -->
      <mat-form-field class="form-element">
        <mat-label>Series Subtitle:</mat-label>
        <input matInput type="text" id="seriesSubtitle" name="seriesSubtitle" [(ngModel)]="element.seriesSubtitle">
      </mat-form-field>

      <!-- Comix Title -->
      <mat-form-field class="form-element">
        <mat-label>Comix Title:</mat-label>
        <input matInput type="text" id="comixTitle" name="comixTitle" [(ngModel)]="element.comixTitle" required>
      </mat-form-field>

      <!-- Display Name -->
      <mat-form-field class="form-element">
        <mat-label>Display Name:</mat-label>
        <input matInput type="text" id="displayName" name="displayName" [(ngModel)]="element.displayName">
      </mat-form-field>

      <!-- author -->
      <mat-form-field class="form-element">
        <mat-label>author:</mat-label>
        <input matInput type="text" id="author" name="author" [(ngModel)]="element.author">
      </mat-form-field>

      <!-- publisher -->
      <mat-form-field class="form-element">
        <mat-label>publisher:</mat-label>
        <input matInput type="text" id="publisher" name="publisher" [(ngModel)]="element.publisher">
      </mat-form-field>

      <!-- Publishment Year -->
      <mat-form-field class="form-element">
        <mat-label>Publishment Year:</mat-label>
        <input matInput type="text" id="publishmentYear" name="publishmentYear" [(ngModel)]="element.publishmentYear">
      </mat-form-field>

      <!-- Number of Pages -->
      <mat-form-field class="form-element">
        <mat-label>Number of Pages:</mat-label>
        <input matInput type="number" min="1" id="numberOfPages" name="numberOfPages" [(ngModel)]="element.numberOfPages">
      </mat-form-field>

      <!-- Cover Hard -->
      <div class="form-element">
        <mat-checkbox id="coverHard" name="coverHard" [(ngModel)]="element.coverHard">Cover Hard</mat-checkbox>
      </div>

      <!-- rating -->
      <mat-form-field class="form-element">
        <mat-label>rating:</mat-label>
        <input matInput type="number" min="1" max="10" id="rating" name="rating" [(ngModel)]="element.rating">
      </mat-form-field>

      <!-- collected -->
      <div class="form-element">
        <mat-checkbox id="collected" name="collected" [(ngModel)]="element.collected">collected</mat-checkbox>
      </div>

      <!-- Buttons Container -->
      <div class="buttons-container">
        <button mat-raised-button color="primary" (click)="OnSubmitClick()" type="submit">Save</button>
      </div>

    </form>

  </div>

  <div class="column second-column" fxLayout="column" fxFlex="50">
    <div class="title">Element JSON:</div>
    <div>{{ element | json }}</div>
  </div>

</div>
