@import "src/assets/scss/colors.scss";

.comix-main-header-container {
  color: $white;
  background-color: $field-border;

  .main-logo-container {
    padding: 15px 30px;
    padding-bottom: 0;
    font-size: bolder;
    font-size: 3vh;
    cursor: pointer;
  }

  .user-container {
    padding: 15px 30px;
  }
}
